img {
	height: 100px;
	width: 100px;
}

body {
	background-color: #a7cadb;
}

.App {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px 20px;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.center {
    max-width: 880px;
}
